In this notebook I have experimented with few basic NLP techniques on yelp reviews dataset.

In [1]:
CONTRACTION_MAP = {
"ain't": "is not",
"aren't": "are not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he would",
"he'd've": "he would have",
"he'll": "he will",
"he'll've": "he he will have",
"he's": "he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how is",
"I'd": "I would",
"I'd've": "I would have",
"I'll": "I will",
"I'll've": "I will have",
"I'm": "I am",
"I've": "I have",
"i'd": "i would",
"i'd've": "i would have",
"i'll": "i will",
"i'll've": "i will have",
"i'm": "i am",
"i've": "i have",
"isn't": "is not",
"it'd": "it would",
"it'd've": "it would have",
"it'll": "it will",
"it'll've": "it will have",
"it's": "it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"mightn't've": "might not have",
"must've": "must have",
"mustn't": "must not",
"mustn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not",
"shan't've": "shall not have",
"she'd": "she would",
"she'd've": "she would have",
"she'll": "she will",
"she'll've": "she will have",
"she's": "she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so as",
"that'd": "that would",
"that'd've": "that would have",
"that's": "that is",
"there'd": "there would",
"there'd've": "there would have",
"there's": "there is",
"they'd": "they would",
"they'd've": "they would have",
"they'll": "they will",
"they'll've": "they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
"wasn't": "was not",
"we'd": "we would",
"we'd've": "we would have",
"we'll": "we will",
"we'll've": "we will have",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what will",
"what'll've": "what will have",
"what're": "what are",
"what's": "what is",
"what've": "what have",
"when's": "when is",
"when've": "when have",
"where'd": "where did",
"where's": "where is",
"where've": "where have",
"who'll": "who will",
"who'll've": "who will have",
"who's": "who is",
"who've": "who have",
"why's": "why is",
"why've": "why have",
"will've": "will have",
"won't": "will not",
"won't've": "will not have",
"would've": "would have",
"wouldn't": "would not",
"wouldn't've": "would not have",
"y'all": "you all",
"y'all'd": "you all would",
"y'all'd've": "you all would have",
"y'all're": "you all are",
"y'all've": "you all have",
"you'd": "you would",
"you'd've": "you would have",
"you'll": "you will",
"you'll've": "you will have",
"you're": "you are",
"you've": "you have"
}

In [5]:
import spacy
import numpy as np
import nltk
from nltk.tokenize.toktok import ToktokTokenizer
import re
from bs4 import BeautifulSoup
import unicodedata
nlp = spacy.load('en_core_web_sm', parse=True, tag=True, entity=True)
#nlp_vec = spacy.load('en_vecs', parse = True, tag=True, #entity=True)
tokenizer = ToktokTokenizer()
stopword_list = nltk.corpus.stopwords.words('english')
stopword_list.remove('no')
stopword_list.remove('not')

## Loading the data

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv(r"D:\Datasets\NLP\yelp.csv")

In [4]:
data.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0

## Util functions for data cleaning
1. remove_accented_chars: for removing accents
2. expand_contractions: for expanding contractions
3. remove_special_characters
4. simple_stemmer
5. lemmatize_text

In [6]:
def remove_accented_chars(text):
    text = unicodedata.normalize('NFKD', text).encode('ascii', 'ignore').decode('utf-8', 'ignore')
    return text

remove_accented_chars('Sómě Áccěntěd těxt')

'Some Accented text'

In [7]:
def expand_contractions(text, contraction_mapping=CONTRACTION_MAP):
    
    contractions_pattern = re.compile('({})'.format('|'.join(contraction_mapping.keys())), 
                                      flags=re.IGNORECASE|re.DOTALL)
    def expand_match(contraction):
        match = contraction.group(0)
        first_char = match[0]
        expanded_contraction = contraction_mapping.get(match)\
                                if contraction_mapping.get(match)\
                                else contraction_mapping.get(match.lower())                       
        expanded_contraction = first_char+expanded_contraction[1:]
        return expanded_contraction
        
    expanded_text = contractions_pattern.sub(expand_match, text)
    expanded_text = re.sub("'", "", expanded_text)
    return expanded_text

expand_contractions("Y'all can't expand contractions I'd think")

'You all cannot expand contractions I would think'

In [8]:
def remove_special_characters(text, remove_digits=False):
    pattern = r'[^a-zA-z0-9\s]' if not remove_digits else r'[^a-zA-z\s]'
    text = re.sub(pattern, '', text)
    return text

remove_special_characters("Well this was fun! What do you think? 123#@!", 
                          remove_digits=True)

'Well this was fun What do you think '

In [9]:
def simple_stemmer(text):
    ps = nltk.porter.PorterStemmer()
    text = ' '.join([ps.stem(word) for word in text.split()])
    return text

simple_stemmer("My system keeps crashing his crashed yesterday, ours crashes daily")

'My system keep crash hi crash yesterday, our crash daili'

In [10]:
def lemmatize_text(text):
    text = nlp(text)
    text = ' '.join([word.lemma_ if word.lemma_ != '-PRON-' else word.text for word in text])
    return text

lemmatize_text("My system keeps crashing! his crashed yesterday, ours crashes daily")

'My system keep crash ! his crash yesterday , ours crash daily'

In [11]:
def remove_stopwords(text, is_lower_case=False):
    tokens = tokenizer.tokenize(text)
    tokens = [token.strip() for token in tokens]
    if is_lower_case:
        filtered_tokens = [token for token in tokens if token not in stopword_list]
    else:
        filtered_tokens = [token for token in tokens if token.lower() not in stopword_list]
    filtered_text = ' '.join(filtered_tokens)    
    return filtered_text

remove_stopwords("The, and, if are stopwords, computer is not")

', , stopwords , computer not'

## Cleaning the data using above functions

In [12]:
def normalize_corpus(corpus, html_stripping=False, contraction_expansion=True,
                     accented_char_removal=True, text_lower_case=True, 
                     text_lemmatization=True, special_char_removal=True, 
                     stopword_removal=True, remove_digits=True):
    
    normalized_corpus = []
    # normalize each document in the corpus
    for doc in corpus:
        # strip HTML
        if html_stripping:
            doc = strip_html_tags(doc)
        # remove accented characters
        if accented_char_removal:
            doc = remove_accented_chars(doc)
        # expand contractions    
        if contraction_expansion:
            doc = expand_contractions(doc)
        # lowercase the text    
        if text_lower_case:
            doc = doc.lower()
        # remove extra newlines
        doc = re.sub(r'[\r|\n|\r\n]+', ' ',doc)
        # lemmatize text
        if text_lemmatization:
            doc = lemmatize_text(doc)
        # remove special characters and\or digits    
        if special_char_removal:
            # insert spaces between special characters to isolate them    
            special_char_pattern = re.compile(r'([{.(-)!}])')
            doc = special_char_pattern.sub(" \\1 ", doc)
            doc = remove_special_characters(doc, remove_digits=remove_digits)  
        # remove extra whitespace
        doc = re.sub(' +', ' ', doc)
        # remove stopwords
        if stopword_removal:
            doc = remove_stopwords(doc, is_lower_case=text_lower_case)
            
        normalized_corpus.append(doc)
        
    return normalized_corpus

In [13]:
data.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0

In [14]:
# pre-process text and store the same
data['clean_text'] = normalize_corpus(data['text'])
norm_corpus = list(data['clean_text'])

# show a sample news article
data.iloc[1][['text', 'clean_text']].to_dict()

{'text': 'I have no idea why some people give bad reviews about this place. It goes to show you, you can please everyone. They are probably griping about something that their own fault...there are many people like that.\n\nIn any case, my friend and I arrived at about 5:50 PM this past Sunday. It was pretty crowded, more than I thought for a Sunday evening and thought we would have to wait forever to get a seat but they said we\'ll be seated when the girl comes back from seating someone else. We were seated at 5:52 and the waiter came and got our drink orders. Everyone was very pleasant from the host that seated us to the waiter to the server. The prices were very good as well. We placed our orders once we decided what we wanted at 6:02. We shared the baked spaghetti calzone and the small "Here\'s The Beef" pizza so we can both try them. The calzone was huge and we got the smallest one (personal) and got the small 11" pizza. Both were awesome! My friend liked the pizza better and I liked the calzone better. The calzone does have a sweetish sauce but that\'s how I like my sauce!\n\nWe had to box part of the pizza to take it home and we were out the door by 6:42. So, everything was great and not like these bad reviewers. That goes to show you that  you have to try these things yourself because all these bad reviewers have some serious issues.',
 'clean_text': 'no idea people give bad review place go show please everyone probably gripe something fault many people like case friend arrive pm past sunday pretty crowded think sunday evening think would wait forever get seat say seat girl come back seat someone else seat waiter come get drink order everyone pleasant host seat us waiter server price good well place order decide want share bake spaghetti calzone small beef pizza try calzone huge get small one personal get small pizza awesome friend like pizza better like calzone better calzone sweetish sauce like sauce box part pizza take home door everything great not like bad reviewer go show try thing bad reviewer serious issue'}

## Techniques experimented with:
1. NER using pretrained model en_core_web_sm from spacy
2. Tfidf - sklearn
3. word2vec

### NER

In [16]:
named_entities = []
for sentence in data['clean_text']:
    temp_entity_name = ''
    temp_named_entity = None
    sentence = nlp(sentence)
    for word in sentence:
        term = word.text 
        tag = word.ent_type_
        if tag:
            temp_entity_name = ' '.join([temp_entity_name, term]).strip()
            temp_named_entity = (temp_entity_name, tag)
        else:
            if temp_named_entity:
                named_entities.append(temp_named_entity)
                temp_entity_name = ''
                temp_named_entity = None

entity_frame = pd.DataFrame(named_entities, 
                            columns=['Entity Name', 'Entity Type'])

In [17]:
# get the top named entities
top_entities = (entity_frame.groupby(by=['Entity Name', 'Entity Type'])
                           .size()
                           .sort_values(ascending=False)
                           .reset_index().rename(columns={0 : 'Frequency'}))
top_entities.T.iloc[:,:15]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
Entity Name,one,first,two,hour,mexican,us,three,half,second,today,thai,chinese,four,arizona,italian
Entity Type,CARDINAL,ORDINAL,CARDINAL,TIME,NORP,GPE,CARDINAL,CARDINAL,ORDINAL,DATE,NORP,NORP,CARDINAL,GPE,NORP
Frequency,2760,1051,1006,473,438,368,361,322,317,286,271,258,243,233,219

In [18]:
# get the top named entity types
top_entities = (entity_frame.groupby(by=['Entity Type'])
                           .size()
                           .sort_values(ascending=False)
                           .reset_index().rename(columns={0 : 'Frequency'}))
top_entities.T.iloc[:,:15]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
Entity Type,PERSON,CARDINAL,ORG,NORP,DATE,GPE,TIME,ORDINAL,LOC,FAC,PRODUCT,EVENT,QUANTITY,LANGUAGE,MONEY
Frequency,7449,5519,4651,3680,3522,3370,2919,1528,571,456,223,118,109,93,67

For list of annotation schemes :
https://spacy.io/api/annotation#named-entities

### Tf-Idf

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer
corpus = list(data['clean_text'])
tv = TfidfVectorizer(min_df=0., max_df=1., use_idf=True)
tv_matrix = tv.fit_transform(corpus)
tv_matrix = tv_matrix.toarray()

vocab = tv.get_feature_names()
pd.DataFrame(np.round(tv_matrix, 2), columns=vocab)

,aa,aaa,aaaaaalright,aaaamaze,aaammmazze,aaand,aah,aand,aaron,aarp,...,zupa,zupas,zur,zuzu,zuzus,zweigel,zwiebel,zy,zze,zzzzzzzzzzzzzzzzz
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
from sklearn.metrics.pairwise import cosine_similarity

similarity_matrix = cosine_similarity(tv_matrix)
similarity_df = pd.DataFrame(similarity_matrix)
similarity_df

,0,1,2,3,4,5,6,7,8,9,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,1.000000,0.069024,0.010467,0.000000,0.015261,0.094788,0.053360,0.011594,0.073810,0.024861,...,0.033307,0.031627,0.053915,0.060268,0.049628,0.046687,0.064000,0.038272,0.016123,0.065352
1,0.069024,1.000000,0.003733,0.005350,0.054641,0.105227,0.043360,0.017335,0.061418,0.051946,...,0.030553,0.008493,0.061438,0.084784,0.094633,0.214016,0.036598,0.038841,0.060374,0.098484
2,0.010467,0.003733,1.000000,0.011124,0.005729,0.012205,0.019046,0.000000,0.000000,0.000000,...,0.127144,0.000000,0.019261,0.033504,0.005383,0.017865,0.008717,0.015991,0.000000,0.000000
3,0.000000,0.005350,0.011124,1.000000,0.008489,0.000000,0.003785,0.000000,0.000000,0.000000,...,0.000000,0.011340,0.060342,0.000000,0.069234,0.007410,0.000000,0.003266,0.022640,0.000000
4,0.015261,0.054641,0.005729,0.008489,1.000000,0.016823,0.012748,0.021454,0.025971,0.003840,...,0.010323,0.023018,0.044657,0.017865,0.029387,0.009355,0.028719,0.019008,0.035739,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.046687,0.214016,0.017865,0.007410,0.009355,0.077526,0.030959,0.031844,0.006497,0.008813,...,0.024595,0.015726,0.020010,0.045548,0.029424,1.000000,0.018510,0.022399,0.014778,0.052425
9996,0.064000,0.036598,0.008717,0.000000,0.028719,0.058027,0.047275,0.053236,0.062013,0.023624,...,0.039709,0.044919,0.038928,0.077912,0.030953,0.018510,1.000000,0.043456,0.034188,0.070419
9997,0.038272,0.038841,0.015991,0.003266,0.019008,0.110931,0.050239,0.025070,0.027943,0.005815,...,0.042084,0.022923,0.045843,0.060783,0.048744,0.022399,0.043456,1.000000,0.018851,0.015966
9998,0.016123,0.060374,0.000000,0.022640,0.035739,0.033987,0.028185,0.020678,0.031558,0.031352,...,0.024265,0.006067,0.071588,0.055446,0.057314,0.014778,0.034188,0.018851,1.000000,0.015308
9999,0.065352,0.098484,0.000000,0.000000,0.000000,0.045442,0.014231,0.005939,0.015310,0.000000,...,0.035083,0.021012,0.016971,0.029783,0.019842,0.052425,0.070419,0.015966,0.015308,1.000000

### Word2Vec

In [24]:
from gensim.models import word2vec

In [49]:
from gensim.models import word2vec

# tokenize sentences in corpus
wpt = nltk.WordPunctTokenizer()
tokenized_corpus = [wpt.tokenize(document) for document in corpus]

# Set values for various parameters
feature_size = 100    # Word vector dimensionality  
window_context = 30          # Context window size                                                                                    
min_word_count = 1   # Minimum word count                        
sample = 1e-3   # Downsample setting for frequent words

w2v_model = word2vec.Word2Vec(tokenized_corpus, size=feature_size, 
                          window=window_context, min_count=min_word_count,
                          sample=sample, iter=50)

# view similar words based on gensim's model
similar_words = {search_term: [item[0] for item in w2v_model.wv.most_similar([search_term], topn=5)]
                  for search_term in ['god', 'jesus', 'abundance', 'apache', 'abbreviate', 'anyway', 'afterwards','acne']}
similar_words

{'god': ['goodness',
  'spudnut',
  'onward',
  'fertility',
  'compeopletysoncrosbie'],
 'jesus': ['christ', 'architectural', 'ornamental', 'war', 'oprah'],
 'abundance': ['fixable', 'frenetic', 'redecorate', 'commence', 'bo'],
 'apache': ['mustachio', 'blvd', 'junction', 'pursue', 'university'],
 'abbreviate': ['salute', 'aknowledge', 'stepper', 'ltf', 'used'],
 'anyway': ['nerd', 'fck', 'kill', 'motivating', 'novel'],
 'afterwards': ['eyelid', 'considering', 'retinol', 'aesthetician', 'unboxed'],
 'acne': ['endovenera', 'ksubi', 'covet', 'couture', 'mens']}

In [50]:
words = w2v_model.wv.index2word
wvs = w2v_model.wv[words]

Seeing embedding of word 'applause'

In [57]:
w2v_model.wv['applause']

array([-3.51967186e-01,  3.31496507e-01,  7.16749057e-02,  2.62756646e-01,
       -7.60792494e-02,  4.53859568e-03,  1.65582612e-01, -1.01507850e-01,
        8.01030457e-01, -5.64451158e-01, -6.51418388e-01, -8.39015722e-01,
       -3.15783203e-01,  1.95099059e-02, -5.24626791e-01,  2.07230955e-01,
        6.96181595e-01,  2.79045422e-02,  1.81374714e-01,  4.92202975e-02,
        4.22733128e-01,  5.23031890e-01, -3.16612661e-01,  2.82642722e-01,
       -1.63454413e-01, -4.32839185e-01, -4.57449585e-01,  1.89523876e-01,
       -2.57522106e-01, -1.64460912e-01,  1.70660857e-02, -8.01335126e-02,
       -1.69692248e-01,  1.26899064e-01,  1.98023306e-04, -2.14384854e-01,
        7.57435784e-02, -5.19181371e-01, -4.74635243e-01, -4.30382729e-01,
        1.70249328e-01, -6.52848482e-01, -2.79334098e-01, -2.94923425e-01,
       -8.50626171e-01,  4.44952905e-01, -4.95493263e-01,  2.16606390e-02,
        2.61651985e-02,  1.14026713e+00,  1.73267841e-01, -5.99691421e-02,
        3.08364555e-02, -2.57661045e-01, -1.45973703e-02,  2.78595835e-01,
        1.09669805e-01, -7.40144968e-01, -2.11777389e-01, -2.89901048e-01,
       -3.78126085e-01, -4.90962148e-01,  4.44045924e-02, -1.01392172e-01,
        6.15992546e-01, -7.02484012e-01, -1.57953247e-01,  3.89002562e-01,
       -5.78660369e-01, -2.84568727e-01, -7.75598824e-01, -7.28835166e-02,
        1.42068222e-01, -8.55436087e-01, -6.03633262e-02, -6.76942170e-01,
        2.87903279e-01, -3.44615012e-01,  5.69222152e-01, -1.84907258e-01,
       -1.35551021e-01, -7.23429859e-01,  5.39627016e-01, -3.78129371e-02,
        1.04206905e-01,  2.62538582e-01,  7.24462450e-01,  1.54993594e-01,
       -5.45016766e-01,  5.37445784e-01,  5.56451678e-01,  9.55364332e-02,
       -2.09270552e-01,  2.40593016e-01, -5.50895706e-02,  6.28971100e-01,
       -5.66803277e-01,  4.47421730e-01,  7.97443926e-01,  6.59780860e-01],
      dtype=float32)

GLove